.select {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.selectInput {
  padding: 8px 12px;

  @include larger-than($mantine-breakpoint-xl) {
    min-width: 284px;
  }

  &:hover,
  &:focus,
  &:focus-within {
    border-color: var(--mantine-color-purple-5);
  }
}

.pill {  
  padding: 0;

  // /* Text base S/Subtitle S */
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  font-feature-settings: 'clig' off, 'liga' off;

  background: transparent;

  ::after {
    content: ',';
  }

  &:last-of-type {
    ::after {
      content: '';
    }
  }

  button {
    display: none;
  }
}

.option {
  border-radius: 8px;

  &:hover {
    background: var(--mantine-color-purple-1, #F2EBF9);
  }

  &:active {
    color: var(--mantine-color-white);

    background: var(--mantine-color-purple-5, #9854F6);
  }
}

.label {
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}