.cardWStar {
  display: flex;
  gap: rem(8px);
  height: 100%;

  .cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;

    &__top {
      display: flex;
      flex-direction: column;
      gap: rem(8px);
    }
  }
}