.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: rem(40px) rem(90px);
  min-height: 100vh;

  background-color: var(--mantine-color-gray-1);
}