.main {
  justify-content: flex-start;
  align-items: flex-start;
  padding: min(.8rem, 40px) min(6.25vw, 90px);
  gap: min(.5rem, 40px);
  height: inherit;

  @include smaller-than($mantine-breakpoint-sm) {
    gap: .5rem;
  }
}