.root {
  align-self: stretch;
  padding: 10px;

  line-height: 140%;

  border-radius: 8px;

  .label {
    font-size: rem(16px);
    font-weight: normal;
    line-height: 140%;
    color: var(--mantine-color-black);
  }

  &[data-active] {
    background-color: var(--mantine-color-purple-2);

    .label {
      font-weight: 700;
      color: var(--mantine-color-purple-5);
    }
  }

  &:hover {
    color: var(--mantine-color-purple-4);
    background-color: transparent;
  }

  @include smaller-than($mantine-breakpoint-md) {
    text-align: center;
  }

}

.sidebar {
  flex-direction: column;
  gap: 80px;

  @include larger-than($mantine-breakpoint-xl) {
    padding: 24px;
    min-width: 280px;
  }

  @include smaller-than($mantine-breakpoint-md) {
     flex-direction: row;
  }

  @include smaller-than($mantine-breakpoint-xs) {
    flex-direction: column;
    gap: 16px;
  }

  &__links {
    flex-direction: column;
    gap: 1rem;

    @include smaller-than($mantine-breakpoint-md) {
      flex-direction: row;
      flex: 1 0 auto;
    }

    @include smaller-than($mantine-breakpoint-xs) {
      gap: none;
    }
  }
}