.root {
  padding: rem(10px);

  font-weight: normal;
  line-height: 140%;
  color: var(--mantine-color-black);

  border-radius: 8px;

  &[data-active] {
    font-weight: bold;
    font-size: rem(16px);
    color: var(--mantine-color-purple-5);

    background-color: var(--mantine-color-purple-2);
  }

  &:hover {
    color: var(--mantine-color-purple-4);
    background-color: transparent;
  }

  @include smaller-than($mantine-breakpoint-md) {
    text-align: center;
  }

}

.sidebar {
  flex-direction: column;
  gap: 80px;

  @include smaller-than($mantine-breakpoint-md) {
     flex-direction: row;
  }

  @include smaller-than($mantine-breakpoint-xs) {
    flex-direction: column;
    gap: 16px;
  }

  &__links {
    flex-direction: column;
    gap: 1rem;

    @include smaller-than($mantine-breakpoint-md) {
      flex-direction: row;
      flex: 1 0 auto;
    }

    @include smaller-than($mantine-breakpoint-xs) {
      gap: none;
    }
  }
}