.btnWithoutBgRoot {
  padding: 0;

  font-size: rem(14px);
  font-weight: 500;
  line-height: rem(20px);
  color: var(--mantine-color-purple-5, #9854F6);

  &:hover {
    color: var(--mantine-color-purple-4, #BD93F7);
  }

  &:active {
    color: var(--mantine-color-purple-6, #541F9D);
  }

  &:disabled {
    color: var(--mantine-color-gray-6, #7B7C88);
  }
}

.btnPrimaryM {
  padding: 10px 20px;

  font-size: rem(14px);
  font-weight: 600;
  line-height: 140%;
  color: var(--mantine-color-white, #FFF);

  background-color: var(--mantine-color-purple-5, #9854F6);

  &:hover {
    background-color: var(--mantine-color-purple-4, #BD93F7);
  }

  &:active {
    background-color: var(--mantine-color-purple-6, #541F9D);
  }
}